.actor-menu-container {
    display: flex;
    margin-right: 150px;
}

.behavior-items-container li {
    list-style-type: none;
    margin-left: -11%;
}

.vertical-delimiter {
    margin-right: 150px;
}
