.actor-menu-container {
    display: flex;
    margin-right: 150px;
}

.behavior-items-container li {
    list-style-type: none;
    margin-left: -11%;
}

.vertical-delimiter {
    margin-right: 150px;
}

.color-picker-label {
    padding-right: 5px;
    align-content: center;
    font-weight: bold;
    // color: #006a6a;
    color: var(--mat-sys-primary);
    font-weight: var(--mat-button-text-label-text-weight, var(--mat-sys-label-large-weight));
}
.color-picker-container {
    align-content: center;
    margin: 15px 0;
    border: 2px solid #502c33;
}
