# Ignore everything in the vs & vscode folders
.vs/*
.vscode/*
app/.vs/*
app/.vscode/*
minimal-editor-api/.vs/*
minimal-editor-api/.vscode/*
minimal-editor-server/.vs/*
minimal-editor-server/.vscode/*

# Ignore plugin & bin/obj folders
lua-debug/
bin/
obj/
wsl$/
logs/
