<mat-toolbar color="primary">
  <div *ngFor="let item of items">
    <ng-container *ngFor="let pair of item | keyvalue">
      <button mat-button (click)="handleSelected(pair)">
        <strong>{{ pair.key }}</strong>: {{ pair.value }}
      </button>
    </ng-container>
  </div>
  <!-- <a href="#">Home</a>
  <a href="#">Projects</a>
  <a href="#">Settings</a>
  <button>Logout</button> -->

  <button mat-icon-button aria-label="Settings">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
