<!-- <mat-toolbar color="primary"> -->
  <div class="menu-button-container">
    <button class="menu-button" mat-button [matMenuTriggerFor]="fileMenu">File</button>
    <button class="menu-button" mat-button [matMenuTriggerFor]="editorMenu">Editor</button>
  </div>
  <mat-menu #fileMenu="matMenu">
    <button [appDialogLoaderFormData]="formData"
      [appDialogLoader]="{message: 'Create new Scene.', title: 'New Scene', okText: 'Create', cancelText: 'Cancel'}"
      [appDialogLoaderSuccess]="handleNewSceneSuccess" mat-menu-item>
      New scene
      <ng-template #appDialogLoaderContent let-formData>
        <form [formGroup]="formData">
          <input matInput formControlName="sceneName" placeholder="Sample scene" />
          <mat-radio-group formControlName="sceneSize">
            <mat-radio-button value="s">Small (1200x800)</mat-radio-button>
            <mat-radio-button value="m">Medium (1800x1200)</mat-radio-button>
            <mat-radio-button value="l">Large (3000x2000)</mat-radio-button>
            <mat-radio-button value="xl">XL (4500x3000)</mat-radio-button>
          </mat-radio-group>
        </form>
      </ng-template>
    </button>

    <button mat-menu-item (click)="handleMenuItemClick('Load scene')">Load scene</button>
    <button mat-menu-item (click)="handleMenuItemClick('Save scene')">Save scene</button>
    <button mat-menu-item (click)="handleMenuItemClick('Launch scene')">Launch scene</button>
  </mat-menu>

  <mat-menu #editorMenu="matMenu">
    <button mat-menu-item (click)="handleMenuItemClick('Add actor')">Add actor</button>
    <button mat-menu-item (click)="handleMenuItemClick('Remove actor')">Remove actor</button>
    <button mat-menu-item (click)="handleMenuItemClick('Modify actor')">Modify actor</button>
  </mat-menu>
<!-- </mat-toolbar> -->

<div class="menu-button-container">
  <button class="menu-button" mat-button [appDialogLoader]="{
    message: 'This will permanently remove the user.',
    title: 'Delete user?',
    okText: 'Delete anyway',
    cancelText: 'Keep user',
    innerContent: '<small>Warning: also removes associated files</small>'
  }">
    Delete User
  </button>
</div>

<label for="color">Pick a color</label>
<p-colorPicker
  id="color"
  [format]="'hex'"
  [inline]="false"
  [style]="{'width':'100%'}"
></p-colorPicker>

<minimal-gl-custom-color-picker></minimal-gl-custom-color-picker>

<!-- false = popup (default), true = always visible -->

<!-- <div class="menu-button-container" appDialogLoaderInline="data=
{
    message: 'This will permanently remove the user.',
    title: 'Delete user?',
    okText: 'Delete anyway',
    cancelText: 'Keep user',
    innerContent: '<small>Warning: also removes associated files</small>'
}
">
  <button mat-button class="menu-button">Click me to append custom HTML!</button>
  <ng-template #appDialogLoaderInlineContent>
    <div class="content"><p>ASDFASDFASDFASDF</p></div>
  </ng-template>
</div> -->
