:host {
  display: block;
  background: black;        // light placeholder - change later
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  user-select: none;         // prevents text selection when dragging
}

#stage-container {
  border: 1px solid #ccc; width: 1000px; height: 600px;
}
