<div class="app-shell">
  <div class="ribbon">
    <div class="navbar">
      <editor-menu (selectedMenuItem)="handleSelectedMenuItem($event)"></editor-menu>
    </div>
  </div>

  <div class="main">
    <aside class="toolbar">
      <div class="main-content-empty">
        <div class="title">
          <h1>GL HF editor</h1>
        </div>
        <div class="title">
          <h1>🎉</h1>
        </div>
        <div class="subtitle">
          <p>Click on the menu to start editting and running your game</p>
        </div>
      </div>
    </aside>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <aside class="canvas">
      <div [ngClass]="getMainContentClass()">
        @if (showCurrentScene.getValue()) {
          @if (currentScene$ | async; as scene) {
            <div class="scene-editor-title">
              <h2>Editing: {{ scene.name }} ({{ scene.size }})</h2>
            </div>
            <scene-editor></scene-editor>
          }
        }
        @if (showLoadScene.getValue() && !showCurrentScene.getValue()) {
          <load-scene-list></load-scene-list>
        }
      </div>
    </aside>
  </div>
</div>
