<div class="app-shell">
  <div class="ribbon">
    <div class="navbar">
      <editor-menu></editor-menu>
    </div>
  </div>

  <div class="main">
    <aside class="toolbar">
      <div class="main-content">
        <h1>GL HF editor 🎉</h1>
        <p>Click on the menu to start editting and running your game</p>
      </div>
    </aside>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <aside class="canvas">
      @if (currentScene$ | async; as scene) {
        <h2>Editing: {{ scene.name }} ({{ scene.size }})</h2>
        <scene-editor-component></scene-editor-component>
      }
    </aside>
  </div>
</div>
