:host {
  display: block;
  background: black;        // light placeholder - change later
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  user-select: none;         // prevents text selection when dragging
}

.stage-container {
  display: flex;
  flex-direction: column;
}
.stage-toolbar {
  background-color: white;
  padding: 0rem, 1.5rem;
  height: 1 rem;
  display: flex;
  // justify-content: space-between;
  align-items: center; /* vertical center */
}

.stage-canvas {
  display: flex;
  border-bottom: 1rem solid whitesmoke;
}

#stage-container {
  overflow: auto; /* Adds a Scrollbar to allow larger canvas area*/
  border: 1px solid #ccc; width: 1000px; height: 600px;
}
