<div class="stage-container">
    <ng-container>
        <div class="stage-toolbar">
            <button mat-button class="menu-button" [appDialogLoader]="{title: 'Add Actor', message: 'Select actor type to add to current scene'}"
            [appDialogLoaderFormData]="addActorFormData"
            [appDialogLoaderSuccess]="addActor">
            <ng-template #appDialogLoaderContent>
                <form [formGroup]="addActorFormData">
                    <mat-radio-group (change)="addImage($event)" formControlName="actorType">
                        <mat-radio-button value="rectangle">Add Rectangle</mat-radio-button>
                        <mat-radio-button value="circle">Add Circle</mat-radio-button>
                        <mat-radio-button value="image">Add Image</mat-radio-button>
                    </mat-radio-group>
                        
                    @if (showFileLoader.getValue()) {
                        <mat-dialog-actions>
                            <file-loader-component></file-loader-component>
                        </mat-dialog-actions>
                    }
                </form>
            </ng-template>
            Add Actor</button>

            <button mat-button class="menu-button" (click)="undo()">Undo Action</button>
            <button mat-button class="menu-button" (click)="clearAll()">Clear</button>
            <button mat-button class="menu-button" (click)="saveScene()">Save</button>
            <actor-menu
                [showActorMenu$]="showActorMenu$"
                [showStageMenu$]="showStageMenu$"
                [incomingColor$]="selectedColor$"
                (actorMovedTop)="moveToTop()"
                (actorMovedBottom)="moveToBottom()"
                (selectedColorChanged)="onColorChange($event)">
            </actor-menu>
        </div>
    </ng-container>
    <div class="stage-canvas">
        <div #stageContainer> <!-- ← Konva canvas -->
            <!-- @if (selectedActor$ | async; as selected) {
                <input type="color" [value]="selected.color" (change)="updateColor(selected.id, $event.target.value)" />
            } -->
        </div>
    </div>
</div>
