<div class="stage-container">
    <ng-container>
        <div class="stage-toolbar">
            <button mat-button class="menu-button" (click)="addRectangle()">Add Rectangle</button>
            <button mat-button class="menu-button" (click)="addCircle()">Add Circle</button>
            <button mat-button class="menu-button" (click)="undo()">Undo Action</button>
            <button mat-button class="menu-button" (click)="clearAll()">Clear</button>
            <button mat-button class="menu-button" (click)="saveScene()">Save</button>
            <div>
                <actor-menu [showActorMenu$]="showActorMenu$" [showStageMenu$]="showStageMenu$" [incomingColor$]="selectedColor$" (selectedColorChanged)="onColorChange($event)"></actor-menu>
            </div>
        </div>
    </ng-container>
    <div class="stage-canvas">
        <div #stageContainer> <!-- ← Konva canvas -->
            <!-- @if (selectedActor$ | async; as selected) {
                <input type="color" [value]="selected.color" (change)="updateColor(selected.id, $event.target.value)" />
            } -->
        </div>
    </div>
</div>